@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: ‘Oswald’, sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 100%;
    margin: auto;
}
/* Navbar */
.nav {
    overflow: auto;
    width: 85%;
    margin: 1em auto;
    padding: 5px;
}
.nav h1 {
    text-transform: uppercase;
    width: 50%;
    float: left;
}
.nav h1 a {
    font-family: 'Oswald', sans-serif;
    color: #96746b;
}
.nav ul {
    width: 50%;
    float: left;
    text-align: right;
}
.nav li {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
}
.nav li a {
    font-family: 'RaleWay', sans-serif;
    color: #312a26;
}

/* Banner */
.banner {
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 670px;
}
.banner-text h2 {
    font-size: 4em;
    text-transform: uppercase;
    color: #c7a17a;
}
.banner-text h2 span {
    color: #96746b;
}
.banner a {
    display: inline-block;
    padding: 1em;
    background-color: #312a26;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: toranslateY(-50%);
    width: 45%;
}
.banner-text p {
    color: #fff;
}

/* Ads, Ads2 */
.ads {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}
.ads-item1,
.ads-item3,
.ads-item5 {
    margin-right: 1%;
}
.ads-item1 {
    background-image: url("../images/ads-img1.jpg");
}
.ads-item2 {
    background-image: url("../images/ads-img2.jpg");
}
.ads-item3 {
    background-image: url("../images/ads-img3.jpg");
}
.ads-item4 {
    background-image: url("../images/ads-img4.jpg");
}
.ads-item5 {
    background-image: url("../images/ads-img5.jpg");
}
.ads-item6 {
    background-image: url("../images/ads-img6.jpg");
}
.ads-items {
    width: 48.5%;
    height: 350px;
    float: left;
    background-size: cover;
    background-position: center;
    margin-bottom: 3%;
    position: relative;
}
.ads-text {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateY(-50%);
    width: 40%;
}
.ads-text h3 {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
} 
.ads-text a {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1em;
    text-shadow: 3px 3px 6px #312a26;
    text-decoration: underline;
}

/* Merchandise, Merchandise Sale */
.merch {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}
.section-header {
    text-align: center;
}
.section-header span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #c7a17a;
}
.section-header h2 {
    text-transform: uppercase;
    color: #312a26;
}
.section-header hr {
    background-color: #c7a17a;
    height: 2px;
    width: 25%;
    margin: auto;
}
.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}
.merch-items {
    width: 24.25%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    list-style: none;
}
.merch-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.merch-items:nth-child(4),
.merch-items:nth-child(8) {
    margin-right: 0;
}

/* Discount */
.discount {
    width: 85%;
    height: 350px;
    margin: 4em auto;
    background-image: url('../images/discount-img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.discount-text {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.discount span {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-style: italic;
    text-shadow: 3px 3px 6px #312a26;
}
.discount h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
}
.discount-text a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #ffffff80;
    color: #312a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}

/* Reservation */
.reservation {
    width: 85%;
    margin: 4em auto;
}
form {
    overflow: auto;
}
.form-group {
    margin-top: 2em;
    background-color: #f2f2f2;
    float: left;
    width: 49.5%;
    border-radius: 5px;
    padding: 2em;
    height: 650px;
}
.form-group:nth-child(1) {
    margin-right: 1%;
}
form input,
form label,
form select,
form textarea {
    display: inline-block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-bottom: 1em;
}    

form input[type="submit"] {
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
}
form p {
    margin: 1em;
    text-align: center;
    font-weight: 700;
}
form h3::after {
    content: "";
    background-image: url('../images/reservation-cards.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
}

.res-time {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.res-time *, .agreement * {
    width: auto;
}
form h3 {
    text-align: center;
    text-transform: none;
    margin: auto;
}
form h4 {
    text-align: center;
    text-transform: none;
    margin: 1em;
}
form label {
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px;
}
/* Footer */
.footer {
    background-image: url('../images/footer-img.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    padding-bottom: 2em;
   
}
.footer-contents {
    width: 85%;
    margin: auto;
    overflow: auto;
}
.footer-widgets {
    width: 24.25%;
    float: left;
    margin-right: 1%;
}
.footer-widgets:nth-child(4) {
    margin-right: 0;
}
.footer-widgets h3 {
    color: #fff;
    text-transform: none;
    text-shadow: 3px 3px 6px #312a26;
    margin-top: 1em;
    margin-bottom: 1em;
}
.footer-widgets h4 {
    color: #fff;
}
.footer-widgets p {
    color: #c7a17a;
}
.footer td, th {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 6px #312a26;
}
.footer-form *{
    width: auto;
}
.footer-social {
    color: #fff;
    background-color: #19100F;
    overflow: auto;
    padding: 1em 7.5%;
}
.social-widgets {
    width: 32.66%;
    float: left;
    text-align: center;
}
.social-widgets h3 {
    text-transform: none;
}
.social-widgets img {
    width: 1.5em;
}
